---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post py3">
        <p class="post-meta">{{ post.date | date: site.date_format }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>

          <!-- If there's a summary, show that. Else if (elsif) there's an excerpt, show that. Else just show the entire post. -->
          {% if post.summary %}
            <div class="post-summary">
              {% if post.image %}
                <p><a href="{{ post.url | prepend: site.baseurl }}" class="image-link"><img src="{{ post.image }}" alt="summary image" /></a></p>
              {% endif %}
              <p>{{ post.summary }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">Read more &#8594;</a>
            </div>
          {% elsif post.content contains site.excerpt_separator %}
            <div class="post-summary">
              <p>{{ post.excerpt }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">Read more &#8594;</a>
            </div>
          {% else %}
            <div class=post-content>
              <p>{{ post.content }}</p>
            </div>
          {% endif %}

      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
