---
layout: page
title:
permalink: /posts/
---

<h2>Posts by Category</h2>
{% assign sorted_categories = site.categories | sort %}
{% for category in sorted_categories %}
  <h4>{{ category | first }}</h4>
    <ul>
    {% for posts in category %}
      {% for post in posts reversed %}
        {% if post.url %}
          <li>
            <a href="{{ post.url }}">
              <!-- If the post has an empty title (because it's a "short") then display the first few words instead of the title. -->
              {% if post.title == "" %}
                {{ post.content | truncatewords: 5 | strip_html }}
              {% else %}
                {{ post.title }}
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
{% endfor %}

<br>

<h2>Posts by Date</h2>

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h4 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h4>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li>
      <span class="post-list-date">{{ post.date | date: '%B %d, %Y' }}</span>
      <a class="post-list" href="{{ post.url }}">
        <!-- If the post has an empty title (because it's a "short") then display the first few words instead of the title. -->
        <!-- Note that problems will arise if the short post begins with an image. -->
        {% if post.title == "" %}
          {{ post.content | truncatewords: 5 | strip_html }}
        {% else %}
          {{ post.title }}
        {% endif %}
      </a>
    </li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
